.header {
  h1{
    @apply font-semibold text-3xl my-5;
  }

  .search{
    background: #F4F5F7;
    border-radius: 20px;
    color: #9B9B9B;
    padding: 15px 25px;
    height: 60px;
    
    @apply flex items-center justify-between;

    svg {
      fill: #9B9B9B;
    }

    input[type=text] {
      @apply bg-transparent outline-none;
    }
  }
}

.favourite {
  h1 {
    @apply font-semibold text-lg mt-5;
  }
}

.contacts {
  h1 {
    @apply font-semibold text-lg mt-5;
  }

  .add {
    background: linear-gradient(140.95deg, #02A4FF 7.73%, #2400FF 90.12%);
    width: 60px;
    height: 60px;
    right: 5%;
    bottom: 5%;
    z-index: 999;

    @apply fixed flex items-center justify-center rounded-full;

    svg {
      fill: white;
    }
  }
}